/**
本文件定义项目通用变量
 */

// 通用间距
@spacer: 15px;

// 通用字体
@font-family: -apple-system, BlinkMacSystemFont, "SF UI Text", "Helvetica Neue", STHeiti, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Zen Hei", Tahoma,Simsun, sans-serif;

// 边线颜色
@border-color: #d9d9d9;



